name: CI

on:
  pull_request:
    branches: [ main ]

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: sqlite, mbstring, dom, fileinfo
          coverage: none

      - name: Install Composer dependencies
        working-directory: laravel-app
        run: composer install --prefer-dist --no-progress

      - name: Prepare Environment
        working-directory: laravel-app
        run: |
          cp .env.example .env
          php artisan key:generate
          touch database/database.sqlite
          php artisan migrate --force

      - name: Run Tests
        working-directory: laravel-app
        run: php artisan test --no-ansi

      - name: Run Larastan
        working-directory: laravel-app
        run: vendor/bin/phpstan analyse --no-progress
